# Base de Dados SQLite
DATABASE_URL="file:./dev.db"

# URL base da aplicação (ajustar para o IP/domínio do seu Unraid/rede local)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google OAuth 2.0 Credentials (obter em https://console.cloud.google.com)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
